.navbar-collapse {
    justify-content: end;
}

nav {
    position: fixed !important;
    width: 100%;
    background-color: antiquewhite;
}

.navbar-brand>img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}